

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #D6F1F0;
}

.icon {
    color: #057773;
}
.b-color {
    border-color: #028580 !important;
}

.btn {
    background-color: #05b6b0 !important;
    color: white !important;
}

.login-title, .login-form-label, .card-bottom > a {
    color: #42CFCA !important;
}

.card-bottom > a {
    text-decoration: none;
    color: #ccf5e5;
}

.login-detail-title {
    rotate: 90deg;
    top: 100px;
   left: -50px;
    font-size: 40px;
    opacity: 0.4;
    font-weight: 800;
    line-height: 2;

}
.hading{
    font-size: 30px;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;

}
.col-left {
    clip-path: ellipse(81% 100% at 8% 80%);
    background-color: #3BC3BE;
    color: white;
}
.hight{
    height: 45rem;
}
/* login page */


/* nav component */

.nav-container {
    background-color: #3BC3BE;
    color: white;
    height: 5rem;
}



.nav-right {
    gap: 2rem;
    font-size: 20px;
    font-weight: 500;    
}

/* nav component  */



/* footer component  */

.footer-container {
    height: 4rem;
    background-color: #52ddd8;
    color: white;
    font-weight: 600;
}

/* footer component  */


.row > .card-container {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
}

.read-blog-card-container > .card {
    width: 20rem;
    /* height: 20rem; */
}

.read-blog-card-container .card > .card-header {
    height: 10rem;
}
.form-control{
    background: no-repeat;
    border-bottom: 2px solid #3bc3be;
    outline: none;
}
.rounded-40{
    padding: 0 74px;
    border-radius: 30px;
    outline: none;
}
[type='password']:focus,[type='text']:focus{
    outline: none;
    outline-offset: 0px;

    box-shadow: none;
}
.box{
    width: 40rem;
    margin: auto;
    position: relative;
    /* top: 8rem; */
    box-shadow: inset 1px 5px 17px 5px rgb(197 198 198);

}
